{% extends "admin/change_form.html" %}
{% load i18n admin_modify %}

{% block object-tools-items %}
<li>
    <a href="{{ download_url }}" class="downloadlink">{% trans "Download configuration" %}</a>
</li>
{{ block.super }}
{% endblock %}

{% block submit_buttons_top %}{% submit_row %}{% endblock %}
{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

{% block content %}
{{ block.super }}
<div class="djnjc-overlay">
    <div class="inner"></div>
</div>

{% block default_templates_js %}
{% if default_templates %}
<script>
    // enable default templates - do not remove this comment
{% for template in default_templates %}
    django.jQuery('input.sortedm2m[value={{ template }}]').prop('checked', true);
{% endfor %}
</script>
{% endif %}
{% endblock %}
{% endblock %}

{% block field_sets %}
     <div id="id_config_jsoneditor"></div>
     {{ block.super }}
{% endblock %}
